[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
python-decouple = "*"
pytest = "*"
pytype = "*"
openai = "*"

[dev-packages]
mypy = "*"
freezegun = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
